<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<div id="nav">
    <ul>

    <li><a href="{{ site.baseurl }}/"">Home</a></li>
    {% for cat in site.category-list %}
        <div class="dropdown">
          <button class="dropbtn">{{cat | capitalize}}</button>
          <div class="dropdown-content">
            {% assign sorted_pages =  site.pages | sort:"title" %}
            {% for page in sorted_pages %}
              {% if page.resource == true %}
                {% for pc in page.categories %}
                  {% if pc == cat %}
                    <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                  {% endif %}  
                {% endfor %}  
              {% endif %}  
            {% endfor %}  
          </div>
        </div>
    {% endfor %}  
    <li style="float:right"><a href="{{ site.baseurl }}/pages/sitemap"">Site map</a></li>
    </ul>
</div>